@media screen and (max-width: 580px) {
    body{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100%;
        max-height: max-content;
        background: rgb(109,68,68);
        background: linear-gradient(90deg, rgba(109,68,68,1) 0%, rgba(19,199,188,0.7480742296918768) 35%, rgba(99,98,80,1) 100%);
        overflow-x: hidden;
    } 
}

*{
    box-sizing: border-box;
    margin: 0;
}
@media screen and (min-width: 581px) {
    body{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 100%;
        background: rgb(109,68,68);
        background: linear-gradient(90deg, rgba(109,68,68,1) 0%, rgba(19,199,188,0.7480742296918768) 35%, rgba(99,98,80,1) 100%);
        overflow-x: hidden;
    }
    
}
header{
    margin: 15px 30px;
    align-items: center;
}
.container{
    width: 2200px;
    margin: 0;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
}
.navbar__menu{
    position: fixed;
    background-color: rgb(10, 195, 165);
    top: 0;
    left: 0;
    right: 0;
    transition: all .3s ease-in-out;
}
.container .navbar__menu{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(10, 195, 165);
    text-decoration: none;
    font-style: none;
    color: aliceblue;
    padding: 0;
    transition: all 0.3s ease-in-out;
}
/* body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 80%;
    height: 100%;
    background: rgb(109,68,68);
    background: linear-gradient(90deg, rgba(109,68,68,1) 0%, rgba(19,199,188,0.7480742296918768) 35%, rgba(99,98,80,1) 100%);
    overflow-x: hidden;
} */
section{
    margin: 15px 30px;
    padding-bottom: 15px;

}
div{
    margin: 15px 30px;
    -webkit-box-shadow: 5px 5px 10px 2px rgba(0,0,0,0.63); 
    box-shadow: 5px 5px 10px 2px rgba(0,0,0,0.63);
    border-radius: 4%;
}
.arrival{
    background-color: rgb(105, 95, 100);
    box-shadow: 12px;
    height: 12em;
    width: 12em;

}
.departure{
    background-color: rgb(25, 75, 71);
    box-shadow: 12px;
    height: 12em;
    width: 12em;

}
.milk{
    background-color: rgb(15, 125, 91);
    box-shadow: 12px;
    height: 12em;
    width: 12em;

}
.provided_food{
    background-color: rgb(25, 125, 1);
    box-shadow: 12px;
    height: 12em;
    width: 12em;

}
.naptime{
    background-color: rgb(15, 15, 105);
    box-shadow: 12px;
    height: 12em;
    width: 12em;
}
.potty_log{
    background-color: rgb(125, 125, 211);
    box-shadow: 12px;
    height: 12em;
    width: 12em;

}
.footer, h2{
    background-color: rgba(10, 152, 100, 0.4);
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 14px;
    justify-content: center;
    align-items: center;
}
h4{
    justify-content: center;
    align-items: center;
    color: aliceblue;
}